.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-height: 75px;
    background-color: #01011d;
    color: rgb(221, 150, 8);
}

.a_item{
    color: rgb(221, 150, 8);
    text-decoration: none;
}
.a_item:hover{
    color: rgb(221, 150, 8);
}

.navbar_links{
    display: flex;
}

.navbar_links>li{
    padding: 15px;
}

.navbar_link{
    padding: 0 0.3rem;
    color: inherit;
}

.navbar_burger{
    width: 48px;
    height: 40px;
    background: transparent;
    border:none;
    color: inherit;
}

@media screen and (max-width:767px) {
    .navbar{
        background-color: white;
    }
    .navbar_links{
        display: block;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        align-items: center;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: black;
        z-index: 1;
        transition: all .5s ease-out;
    }
    .show-nav .navbar_links{
        width: 100vw;
        right: 0;
        visibility: visible;
    }
    .navbar_link{
        display: block;
        font-size: 5vh;
    }

    .navbar_burger{
        display: block;
        position: relative;
        margin: 0 auto;
    }

    .navbar_burger:hover{
        cursor: pointer;

    }

    .burger-bar,
    .burger-bar::before, 
    .burger-bar::after{
        display: block; 
        width: 40px;
        height: 3px;
        border-radius: 3px;
        background: rgb(221, 150, 8);
        transition: all .5s ease-in-out;
        z-index: 2;
    }
    .burger-bar::before, 
    .burger-bar::after{
        content:""; 
        position: relative;
        left: 0;
    }

    .burger-bar::before{
        transform: translateY(-12px);
    }

    .burger-bar::after{
        transform: translateY(12px);
    }

    .show-nav .burger-bar{
        background: transparent;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

}

/********Changer le Background*****/
