.findCard{
    margin-top: 5%;
}

.findButton{
    text-align: center;
    margin-top: 5%;
}

.findButton>button{
    background-color: transparent;
    padding: 5px;
}


span{
    color: rgb(3, 3, 3);
}

