/**/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --main-color: #08022b;
  --sec-color: #fddf35;
  --background-color: #020124;
  --background-sec-color: #141414;
  --tab-sec-color: #9b9b9b;
  --font-main-color: #eeeeee;
  width: 100%;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.container {
  width: 100%;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-main-color);
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #555366;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}


footer {
  height: 50px;
  background-color: #01011d;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  width: 700px;
}

.link {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 30px;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  color: var(--background-color);
  text-decoration: none;
}
